@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
    Alap formázások
*/

body{
    background: url("../img/wp2.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Roboto";
}

article p{
    column-count: 2;
}

.here{
    background-color: rgba(140, 140, 140, 0.95);
    border-color: rgba(140, 140, 140, 0.95);
}

a.hidden{
    position: fixed;
    left: 9999px;
}

footer{
    display: block;
    text-align: center;
    column-count: 2;
}

footer p{
    display: inline-block;
}

nav{
    font-size: 1.2rem;
    display: flex;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: rgba(180, 180, 180, 0.95);
    border-style: solid;
    border-radius: 0.5rem;
    background-clip: padding-box;
    border-color: rgba(180, 180, 180, 0.95);
}

img.logo{
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    max-width: 70%;
    height: auto;
}

summary{
    text-align: center;
}

video{
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 100%;
}

div.col{
    flex: 50%;
}

div.row{
    display: flex;
}

.alignright{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    color: black;
    margin: 0rem 1rem 1rem 1rem ;
    font-size: 1.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
    background-color: rgba(180, 180, 180, 0.95);
    border-style: solid;
    border-radius: 0.5rem;
    background-clip: padding-box;
    border-color: rgba(180, 180, 180, 0.95);
}

nav a{
    text-align: center;
    margin: 0 0.5rem;
    flex: 1 0 auto;
    padding: 0.5rem;
    background-color: lightgray;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: lightgray;
    width: auto;
}

nav a:link{

    color: black;
    text-decoration: inherit;

}
nav a:visited{

    color: black;
    text-decoration: inherit;

}
nav a:hover{

    color: black;
    text-decoration: inherit;

}
nav a:active{

    color: black;
    text-decoration: inherit;

}

footer.container{
    font-size: 1rem;
    margin-bottom: 0;
}

/* 
    Táblázat
*/

table{
    /*border-collapse: collapse;*/
    border: 2px solid black;
    background-color: white;
}

td,th{
    text-align: center;
    border: 1px solid black;
}

hr{
    height: 2px;
    border-width: 0;
    color: black;
    background-color: black;
}

/*
    Űrlap stílus
*/

.form{
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

form{
    display: inline-flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: solid rgba(140, 140, 140, 1);
    background-color: rgba(140, 140, 140, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
}

form label{
    vertical-align: top;
}

form button{
    border: solid;
    border-radius: 0.5em;
    background-color: rgb(200, 200, 200);
    font-size: 1em;
}

form button:hover{
    background-color: rgb(140, 140, 140);
}

/*
    Visszaugró gomb
*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2em; /* Place the button at the bottom of the page */
    right: 2em; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1em; /* Some padding */
    border-radius: 0.5em; /* Rounded corners */
    font-size: 1em; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

/*
    Egyéb képernyő méretek
*/

/* Telefon */
@media only screen and (max-width: 600px){

    .container{
        font-size: 50%;
    }

    nav{
        font-size: 75%;
    }

    footer.container{
        font-size: 25%;
    }

    #myBtn{
        border-radius: 1em;
        font-size: 20%;
    }

    nav{
        flex-wrap: wrap;
    }
    a:first-child{
        margin-top: 0;
    }
    a{
        flex-basis: 90%;
        margin-top: 0.5rem;
    }

    div.col{
        flex-basis: 100%;
    }
    div.row{
        flex-wrap: wrap;
    }

    article p{
        column-count: 1;
    }
}

/* kb. tablet */
@media only screen and (max-width: 1150px){
    nav{
        flex-wrap: wrap;
    }
    a:first-child{
        margin-top: 0;
    }
    a{
        flex-basis: 90%;
        margin-top: 0.5rem;
    }
}